/* ===== HERO ===== */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: #29C7F2;
    color: #1A2C4A;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

/* ===== PROJETOS ===== */
.projetos {
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
}

.projeto {
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000015;
    overflow: hidden;
    padding-bottom: 20px;
}

.projeto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.projeto h2 {
    font-size: 22px;
    margin: 15px;
}

.projeto p {
    margin: 0 15px 15px 15px;
    line-height: 1.6;
}

.btn-ver {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 18px;
    background: #29C7F2;
    color: #1A2C4A;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}    