/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li{list-style: none;}

body {
  background: #f5f5f5;
  color: #1A2C4A;
}

/* ===== HEADER ===== */
.header-navbar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #1A2C4A;
}

.header-navbar .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar nav a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header-navbar nav a.active {
  text-decoration: underline;
}

.header-navbar .btn-nav {
  margin-right: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  background: #29C7F2;
}

/* Estilos do menu colapsado */

.nav-links {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  background-color: #333;
}

.nav-links li a{
  display: inherit !important;
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

/* ===== FOOTER ===== */
footer {
  background: #1A2C4A;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 668px) {

  .header-navbar>nav a:not(.btn-nav) {
    display: none;
  }

  .nav-links {
    display: inherit;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links.active {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  .header-navbar {
    padding: 20px 30px;
  }
}